<section id='gameView' role='region' class='view' data-type='card'>
  <header>
    <a href='#/menu'><span class='icon icon-menu'>Show sidebar</span></a>
    <a href='#/play/{{id}}'><span class='icon icon-menu'>Hide sidebar</span></a>
    <h1 data-l10n-id='title'></h1>
  </header>
  <div role='main' id='pushDiv'><svg></svg></div>
  <div role='toolbar'>
    <ul>
      <li>
        <a href='#/previous' role='button'><span class='action-icon browser-back'>Previous</span></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href='#/next' role='button'><span class='action-icon browser-forward'>Next</span></a>
      </li>
    </ul>
  </div>
</section>