<section id='listView' role='region' class='view inactive hidden' data-type='card'>
  <header>
    <a href='#/menu'><span class='icon icon-back'>Show sidebar</span></a>
    <menu type='toolbar'>
      <a href='#/create'><span class='icon icon-add'>add</span></a>
    </menu>
    <h1 data-l10n-id='levels'></h1>
  </header>
  <article class="scrollable">
    <section data-type="list">
      <ul>
      </ul>
    </section>
  </article>
</section>