html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

/* View transition rules */
.view {
  z-index: 100;
  transition: transform 1s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}
.inactive {
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.inactive2 {
  transform: translateX(80%);
  -moz-transform: translateX(80%);
  -webkit-transform: translateX(80%);
}
.hidden {
  display:none;
}
.top {
  z-index: 160;
}

/* Icon and menu button placement in section header*/

section[data-type='card'] > header:first-child > a {
  width: 6rem;
}
section[data-type='card'] > header:first-child > a .icon {
  background-position: center center;
  width: 4rem;
}
section[data-type='card'] > header:first-child > a .icon:after {
  width: 4rem;
}
section[data-type='card'] > header:first-child > a {
  background-position: 4rem center;
}
section[data-type='card'] > header:first-child h1 {
  margin-left: 5rem;
}

/* Game view */
#gameView {
  position:relative;
  background: white;
  width:100%;
  height: 100%;
  line-height: 1em;
  font-size: 2.2rem;
}

/*Toggle bewteen the two header buttons depending on the inactive2 class */
#gameView.inactive2 > header > a:first-child, #gameView:not(.inactive2) > header > a:not(:first-child) {
  display:none;
}

#gameView > div[role='main'] {
  height: calc(100% - 9rem);
  overflow: hidden;
}

#gameView > div[role='main'] > svg {
  position: relative;
  left: 1rem;
  top: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

.border-in {
  fill: bisque;
  stroke: black;
}

.border-out {
  stroke: black;
  fill: lightblue;
}

.tile-border {
  fill: none;
  stroke: black;
}

/*List View*/
#listView {
  position:absolute;
  top:0;
  background: white;
  width:100%;
  height: 100%;
  line-height: 1em;
  font-size: 2.2rem;
}

#listView > article {
  height: calc(100% - 5rem);
}

.scrollable {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

[data-type='list'] aside.pack-begin {
  position:absolute;
  width:6rem;
  left:0;
  margin: 0 0.5 0 0rem;
}

[data-type='list'] li {
  background:white;
  transition: height 1s ease;
}

[data-type='list'] li div {
  position:absolute;
  top:0;
  left:7rem;
  right:6rem;
  height:100%;
}

.btn.edit {
  background: url('edit.svg') no-repeat scroll center center transparent;
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  width: 5rem;
  border: 0 none;
  margin: 0;
  overflow: hidden;
}

.btn > span {
  display: none;
}

#listView article a:last-child {
  text-decoration: none;
  border:none;
  outline:none;
  position:absolute;
  top:0;
  left:0;
  right:6rem;
  height:100%;
}

.info ul li[data-type='description'] {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  white-space: normal;
  -moz-hyphens: auto;
}

.info ul li[data-type='error'] {
  color:red;
  padding: 1rem 3rem;
  font-size: 1.6rem;
}


/* Edit View*/
#editView {
  background: white;
  position: fixed;
  top: 0;
  left:0;
  border: 0;
  width: 100%;
  height: 100%;
}

#editView svg {
  width:calc(100% - 2rem);
  height:calc(100% - 28rem);
}

#editView input[readonly] {
  color:gray;
}

/* Difficulty View */
#difficultyView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
}

#difficultyView {
  transition:opacity 1s ease;
}

#difficultyView.inactive {
  opacity: 0;
}


/* About view, Legal View, GPL View, Source View*/

#aboutView, #settingsView {
  z-index:110;
}
#releaseNotesView, #legalView, #translationsView {
  z-index:120;
}
#gplView, #sourceView {
  z-index:130;
}
.info {
  background: white;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1em;
  font-size: 2.2rem;
}

.info ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.info div[role="main"] {
  position:absolute;
  width:100%;
  height:100%;
}

.info ul li {
  position: relative;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
  -moz-box-sizing: border-box;
  min-height: 6rem;
}

.info ul li > a,
.info ul li > span {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 6rem;
  font-size: 1.9rem;
  line-height: 6rem;
  padding: 0 3rem;
}

.info ul li.disabled > a {
  color: #797e80;
  opacity: 0.6;
  pointer-events: none;
}

/* description + value on the same line */
.info ul li > a span {
  position: absolute;
  right: 3rem;
  color: #505859;
}

/* text ellipsis */
.info ul li > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* sublines */
.info ul li > small {
  position: absolute;
  left: 3rem;
  right: 3rem;
  top: 50%;
  padding-top: 0.4rem;
  font-size: 1.4rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

.info ul li > label {
  position: absolute;
  left: 3rem;
  right: 3rem;
  top: 1.1rem;
}

/* required for empty elements like Bluetooth */
.info ul li > small:not(:empty) + a,
.info ul li > small:not(:empty) + span {
  line-height: 4.4rem;
}

.info dl > * {
  font-size: 1.6rem;
}

.info dl dt {
  padding-left: 3rem;
  font-weight: bold;
  border-bottom: 0.1rem dotted #e6e6e3;
}

.info dl dd {
  margin: 0;
  padding: 1rem 3rem;
  border-bottom: 0.1rem solid #e6e6e3; /* same as "ul li" */
}

/* IO installation popup */
#arrow_box {
  background: #B3BECD;
  border: 4px solid #7086A3;
  padding: 1.5rem;
  font-size: 1.6rem;
}

#arrow_box:after, #arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#arrow_box:after {
  border-color: rgba(179, 190, 205, 0);
  border-top-color: #B3BECD;
  border-width: 30px;
  left: 50%;
  margin-left: -30px;
}

#arrow_box:before {
  border-color: rgba(112, 134, 163, 0);
  border-top-color: #7086A3;
  border-width: 36px;
  left: 50%;
  margin-left: -36px;
}

#arrow_box.ios {
  position: fixed;
  left: 48px;
  bottom: 100px;
  -webkit-transform: translateZ(0); // activate the GPU
}

.link {
  pointer-events:all;
  text-decoration:underline;
  cursor: pointer;
 
}
.link:hover {
  color:blue;
}


/* MenuView */
ul[data-type='easter'] {
  position:absolute;
  bottom:0;
  opacity:0;
}

ul[data-type='easter'] a {
  cursor: default;
}

/* Loading View */
#loadingView {
  position:absolute;
  background:white;
  z-index:200;
  width:100%;
  height:100%;
}

#loadingView div {
  color:gray;
  text-align: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:5em;
  position:absolute;
  line-height: 1em;
  font-size: 2.2rem;
}
